
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionTimeout</title>
</head>
<body>
    <div>
        <h2>Your session has expired. Please log in again.</h2>
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary" })
    </div>
</body>
</html>
